[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Web based app with basic REST API endpoints to manage various tasks. Connected to a MySQL databased which is set on a Docker container. Made with Spring Boot.
[access "refs/*"]
	owner = group user/FilipMcKo
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/FilipMcKo
	label-Verified = -1..+1 group user/FilipMcKo
	push = group user/FilipMcKo
	read = group user/FilipMcKo
	rebase = group user/FilipMcKo
	removeReviewer = group user/FilipMcKo
	submit = group user/FilipMcKo
[access "refs/heads/*"]
	create = group user/FilipMcKo
	push = +force group user/FilipMcKo
	pushMerge = group user/FilipMcKo
	read = group user/FilipMcKo
[access "refs/tags/*"]
	push = group user/FilipMcKo
	push = +force group user/FilipMcKo
